* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

header {
  align-items: center;
  background-color: #2F2235;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 10px 75px;
}

.heading-line {
  display: none;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

.accent-color {
  color: #34D1D1;
}

h3, hr {
  display: inline-block;
}

.line {
  background-color: magenta;
  height: 1px;
  width: 1000px;
}

button {
  background-color: #3F3244;
  color: #FFF;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  h2 {
    font-size: 14px;
  }

  .heading-line {
    background-color: #666666;
    display: block;
    height: 1px;
    margin: 10px 0;
    width: 75px;
  }
}