.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
}

.card {
  border: 1px solid #D1D2D3;
  margin: 10px 0;
}

.small {
  width: 31.333%;
}

.big {
  width: 64.666%;
}

.card-h4 {
  border-bottom: 1px solid #D1D2D3;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.card-img {
  height: 400px;
  width: 100%;
}