* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

header {
  align-items: center;
  background-color: #2F2235;
  color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  padding: 15px 75px;
}

.heading-line {
  display: none;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

.accent-color {
  color: #34D1D1;
}

main {
  padding: 30px 75px;
}

.subheading {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

h3 {
  font-size: 22px;
}

.line {
  background-color: #D1D2D3;
  height: 1px;
  margin-left: 30px;
  width: 80%;
}

.view {
  background-color: #3F3244;
  color: #F2F2F2;
  display: block;
  font-size: 22px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 150px;
  padding: 15px;
  width: 400px;
}

@media screen and (max-width: 1203px) {
  .line {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {

  .line {
    width: 55%;
  }
}

@media screen and (max-width: 618px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  h2 {
    font-size: 14px;
  }

  main {
    padding: 10px;
  }

  .subheading {
    flex-direction: column;
  }

  h3 {
    font-size: 18px;
  }

  .view {
    margin-bottom: 50px;
    width: 90%;
  }

  .line {
    margin-top: 10px;
    margin-left: 0;
    width: 75px;
  }

  .heading-line {
    background-color: #666666;
    display: block;
    height: 1px;
    margin: 10px 0;
    width: 75px;
  }
}